* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('background4.jpg');
    background-size: cover;
    color: white; 
    font-family: red serif; 
}


.header-class {
    display: FLEX;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 13px;
    box-shadow: 0 2px 100px rgba(255, 255, 255, 0.2);
    position: fixed;
    width: 100%;              /* makes it stretch across the page */
    background-color: black;  
    z-index: 1000;
}


.header-name-section{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: left;
    padding-left: 100px;
}

.custom-btn {
    display: none;
    color: white;
    margin-right: 20px
}

.custom-dropdown{
    background-color: black;
    gap: 10px;
}

.custom-dropdown a{
    color: white;
}

.header-name-section h2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: rgb(240, 240, 240);
    letter-spacing: 1px;
}

.header-menu-section {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
    vertical-align: middle;
    width: 50%;
}


.header-menu-section a{
    font-size: 16px;
    font-weight: lighter;
    color: white;
}

.header-menu-section a:hover{
    font-size: 20px;
    text-decoration-line: underline;
    font-weight: bolder;
    text-decoration-color: rgb(148, 0, 0);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;

}

.circle-image {
    width: 25px;
    height: 25px;
    border-radius: 60%;
    object-fit: cover;
}


.section-class{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.portfolio-img-container {
    align-items: center;
    width: 50%;
}

.portfolio-img{
    width: 700px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 25px rgba(255, 0, 0, 0.2));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.portfolio-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    justify-content: left;
    margin-top: 100px;
    width: 50%;
}


.portfolio-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 40px rgba(255, 0, 0, 0.6));
}

.techstack-container{
    margin-top: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.techstack-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 25px;
    justify-content: center;
}

.techstack-logos svg{
    height: 50px;
    width: 50px;
    flex-shrink: 1;
}

@media (max-width: 1440px) {
    .section-class {
        flex-direction: row;
        padding: 0px;
    }

    .portfolio-img-container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 50%;
    }
    
    .portfolio-img{
        width: 500px;
    }

    .portfolio-details{
        width: 50%;
        justify-content: center;
        text-align: left;
        padding-left: 100px;
    }

    .techstack-container{
        margin-top: 25px;
        justify-content: center;
        align-items: center;
        padding-right: 100px;
        padding-left: 100px;
    }

    .techstack-logos{
        align-items: center;
        justify-content: center;
        
    }

    .portfolio-details-h2{
        font-size: 20px !important; 
    } 

    .portfolio-details-h1{
        font-size: 60px !important;
    }

    .techstack-logos{
        padding-right: 0px;
        gap: 15px;
    }
}

@media (max-width: 991px) {
    .header-name-section {
        padding-left: 30px;
    }

    .header-menu-section {
        padding-right: 30px;
        gap: 15px;
    }

    .section-class{
        flex-direction: row;
        padding: 0px;
    }

    .portfolio-img-container {
        margin-bottom: 40px;
        margin-top: 40px;
        width: 50%;
        justify-content: center;
    }

    .portfolio-img {
        height: auto;
        width: 300px;
    }

    .portfolio-details{
        width: 50%;
        justify-content: center;
        padding-left: 40px;
    }

    .techstack-container{
        padding: 0px;
        margin-top: 15px;
    }

    .portfolio-details-h2{
        font-size: 15px !important; 
    } 

    .portfolio-details-h1{
        font-size: 40px !important;
    }

    .techstack-logos{
        padding-right: 0px;
    }

    .techstack-logos svg {
        height: 25px;
        width: 25px;
    }
}
    

@media (max-width: 884px) {

    .header-menu-section{
        display: none;
    }

    #dropdownMenuButton {
    display: block;
    }

    .section-class{
        flex-direction: column;
    }

    .portfolio-img-container{
        order: -1;
        margin-bottom: 0px;
        margin-top: 80px;
    }

    .portfolio-img{
        width: 50%  ;
    }

    .portfolio-details{
        margin-top: 20px;
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }

    .portfolio-details-h1{
        font-size: 30px !important;
        text-align: center;
    }

    .portfolio-details-h2{
        font-size: 15px !important;
        text-align: center;
    }


}
